body{
  margin: 0;
  /* padding: 0 50px; */
  overflow: hidden;
}

h1{
  font-size: 30px;
  letter-spacing: 5px;
}

header{
height: 110vh;
display: flex;
justify-content: space-between;
align-items: center;
font-family:'Krona One', sans-serif;
font-size: 14px;
letter-spacing: 2px;
transition: 2s;
margin: 0 4% 0 1%;
}

.overlay{
  height: 100vh;
  width: 100vw;
  position: absolute;
  overflow-y:scroll;
  margin: auto;
  align-self: center;
  z-index: 1;
  cursor: default;
  opacity: 0;
  background-color: blue;
}

.greeting-logo{
  height: 150px;
  transform: rotateX(70deg) rotateY(-10deg) rotateZ(-20deg);
  transition: 2s;
}

/* .greeting-logo:hover{
  transform: rotateX(70deg) rotateY(-10deg) rotateZ(-20deg);
} */


ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  z-index: 2;
}

li{
  margin: 20px;
  margin-top: 30px;
}

li a{
  text-decoration: none;
}


.links::after {
  content: '';
  width: 0px;
  margin-top: 10px;
  height: 3px;
  display: block;
  background: #9FA3CD;
  transition: 300ms;
}

.links:hover::after {
  width: 100%;
  /* margin-left: 20px; */

}

.about{
  width: 90%;
  margin: auto;

}

.portfolio{
  align-content: center;
  display: flex;
  /* height: 500px; */
  width: 90%;
  /* flex-direction: column; */
  flex-flow: row wrap;
  margin: auto
}

.slider {
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;


}
.slides::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}
.slides::-webkit-scrollbar-thumb {
  background: #c97c5d;
  border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  height: 500px;
  /* margin-right: 50px; */
  border-radius: 10px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}


.portfolio-photos{
  width: 400px;
  margin: 10px;
}

footer{
  height: 30px;
  width: 100%;
  margin: 0;
}
